<header
  class="flex items-center justify-between bg-blue-400 dark:bg-gray-800 px-5 h-20 shadow-md text-white"
>
  <p>LOGO</p>

  <ul class="flex gap-5">
    <!-- TODO: Add nice hover effect -->
    <li class="cursor-pointer">Link_1</li>
    <li class="cursor-pointer">Link_2</li>
    <li class="cursor-pointer">Link_3</li>
    <li class="cursor-pointer">Link_4</li>
    <li class="cursor-pointer">Link_5</li>
    <li class="cursor-pointer">Link_6</li>
  </ul>

  <button
    (click)="changeTheme()"
    class="bg-green-400 dark:bg-rose-500 text-white rounded h-10 px-4 py-2 outline-none flex justify-center items-center rounded-full"
  >
    <ng-icon class="dark:!hidden" name="matDarkMode"></ng-icon>
    <ng-icon class="!hidden dark:!block" name="matLightMode"></ng-icon>
  </button>
</header>
