<div
  class="hidden w-full lg:grid grid-cols-8 text-center border-b pb-10 gap-10"
>
  <span
    class="bg-blue-300 dark:bg-rose-500 h-20 rounded-xl flex items-center justify-center text-white cursor-pointer"
    >Name of lesson</span
  >
  <span
    class="bg-blue-300 dark:bg-rose-500 h-20 rounded-xl flex items-center justify-center text-white cursor-pointer"
    >Name of lesson</span
  >
  <span
    class="bg-blue-300 dark:bg-rose-500 h-20 rounded-xl flex items-center justify-center text-white cursor-pointer"
    >Name of lesson</span
  >
  <span
    class="bg-blue-300 dark:bg-rose-500 h-20 rounded-xl flex items-center justify-center text-white cursor-pointer"
    >Name of lesson</span
  >
  <span
    class="bg-blue-300 dark:bg-rose-500 h-20 rounded-xl flex items-center justify-center text-white cursor-pointer"
    >Name of lesson</span
  >
  <span
    class="bg-blue-300 dark:bg-rose-500 h-20 rounded-xl flex items-center justify-center text-white cursor-pointer"
    >Name of lesson</span
  >
  <span
    class="bg-blue-300 dark:bg-rose-500 h-20 rounded-xl flex items-center justify-center text-white cursor-pointer"
    >Name of lesson</span
  >
  <span
    class="bg-blue-300 dark:bg-rose-500 h-20 rounded-xl flex items-center justify-center text-white cursor-pointer"
    >Name of lesson</span
  >
</div>

<div class="w-full flex mt-10">
  <div class="w-full">
    <router-outlet></router-outlet>
  </div>
</div>
