<div class="flex justify-center">
  <div class="w-[70%] md:w-[85%] lg:w-[70%] h-[auto] relative">
    <ul
      class="after:absolute after:content-[' '] after:w-[2px] after:h-[100%] after:bg-gradient-to-b after:from-blue-400 after:to-blue-700 dark:after:from-rose-400 dark:after:to-rose-700 after:left-[-29px] lg:after:left-[50%] after:top-[0] after:-translate-x-1/2 z-0"
    >
      <li
        class="mt-20 lg:mt-0 relative z-[99] w-full lg:w-[50%] h-[auto] py-4 px-5 bg-white dark:bg-gray-800 shadow rounded-lg mb-7 float-none clear-none lg:float-left lg:clear-right lg:-translate-x-7 lg:text-right"
      >
        <p class="text-blue-500">Some title</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minus.
          Ducimus natus, corrupti rem ex hic est recusandae autem sunt,
          repudiandae ipsum tempore. Asperiores, repellat error! Aut corrupti
          cupiditate eaque.
        </p>
        <span
          class="w-8 h-8 bg-blue-500/[.4] dark:bg-rose-500/[.4] rounded-full -translate-x-1/2 lg:translate-x-1/2 -translate-y-1/2 absolute top-[0] left-[-29px] lg:left-[auto] lg:right-[-29px] after:content-[' '] after:w-[15px] after:h-[15px] after:bg-blue-500 dark:after:bg-rose-500 after:rounded-full after:absolute after:top-[50%] after:left-[50%] after:-translate-x-1/2 after:-translate-y-1/2 after:right-[0]"
        ></span>
      </li>
      <li
        class="mt-20 lg:mt-0 relative z-[99] w-full lg:w-[50%] h-[auto] py-4 px-5 bg-white dark:bg-gray-800 shadow rounded-lg mb-7 float-none clear-none lg:float-right lg:clear-left lg:translate-x-7"
      >
        <p class="title">Some title</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minus.
          Ducimus natus, corrupti rem ex hic est recusandae autem sunt,
          repudiandae ipsum tempore. Asperiores, repellat error! Aut corrupti
          cupiditate eaque.
        </p>
        <span
          class="w-8 h-8 bg-blue-500/[.4] dark:bg-rose-500/[.4] rounded-full -translate-x-1/2 -translate-y-1/2 absolute top-[0] left-[-29px] after:content-[' '] after:w-[15px] after:h-[15px] after:bg-blue-500 dark:after:bg-rose-500 after:rounded-full after:absolute after:top-[50%] after:left-[50%] after:-translate-x-1/2 after:-translate-y-1/2 after:right-[0]"
        ></span>
      </li>
      <li
        class="mt-20 lg:mt-0 relative z-[99] w-full lg:w-[50%] h-[auto] py-4 px-5 bg-white dark:bg-gray-800 shadow rounded-lg mb-7 float-none clear-none lg:float-left lg:clear-right lg:-translate-x-7 lg:text-right"
      >
        <p class="title">Some title</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minus.
          Ducimus natus, corrupti rem ex hic est recusandae autem sunt,
          repudiandae ipsum tempore. Asperiores, repellat error! Aut corrupti
          cupiditate eaque.
        </p>
        <span
          class="w-8 h-8 bg-blue-500/[.4] dark:bg-rose-500/[.4] rounded-full -translate-x-1/2 lg:translate-x-1/2 -translate-y-1/2 absolute top-[0] left-[-29px] lg:left-[auto] lg:right-[-29px] after:content-[' '] after:w-[15px] after:h-[15px] after:bg-blue-500 dark:after:bg-rose-500 after:rounded-full after:absolute after:top-[50%] after:left-[50%] after:-translate-x-1/2 after:-translate-y-1/2 after:right-[0]"
        ></span>
      </li>
      <li
        class="mt-20 lg:mt-0 relative z-[99] w-full lg:w-[50%] h-[auto] py-4 px-5 bg-white dark:bg-gray-800 shadow rounded-lg float-none clear-none lg:float-right lg:clear-left lg:translate-x-7"
      >
        <p class="title">Some title</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minus.
          Ducimus natus, corrupti rem ex hic est recusandae autem sunt,
          repudiandae ipsum tempore. Asperiores, repellat error! Aut corrupti
          cupiditate eaque.
        </p>
        <span
          class="w-8 h-8 bg-blue-500/[.4] dark:bg-rose-500/[.4] rounded-full -translate-x-1/2 -translate-y-1/2 absolute top-[0] left-[-29px] after:content-[' '] after:w-[15px] after:h-[15px] after:bg-blue-500 dark:after:bg-rose-500 after:rounded-full after:absolute after:top-[50%] after:left-[50%] after:-translate-x-1/2 after:-translate-y-1/2 after:right-[0]"
        ></span>
      </li>
    </ul>
  </div>
</div>
