<div
  class="bg-blue-300 dark:bg-gray-800 w-full flex py-5 px-5 rounded-lg flex-col gap-10"
>
  <p class="w-full text-center text-white text-3xl">
    Lesson number {{ lessonNumber }}
  </p>

  <iframe
    class="rounded-xl w-full h-[700px]"
    src="https://www.youtube.com/embed/tgbNymZ7vqY"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="text-white">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque perspiciatis
    enim repellendus incidunt adipisci quam impedit accusantium, tempore eos
    voluptatibus velit iure mollitia fugit nemo eaque molestiae deserunt
    assumenda suscipit nostrum tempora sed? Error, praesentium dolore?
    Laboriosam voluptates nostrum nesciunt, explicabo in quisquam.
  </p>
  <p class="text-white">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque perspiciatis
    enim repellendus incidunt adipisci quam impedit accusantium, tempore eos
    voluptatibus velit iure mollitia fugit nemo eaque molestiae deserunt
    assumenda suscipit nostrum tempora sed? Error, praesentium dolore?
    Laboriosam voluptates nostrum nesciunt, explicabo in quisquam.
  </p>
  <p class="text-white">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque perspiciatis
    enim repellendus incidunt adipisci quam impedit accusantium, tempore eos
    voluptatibus velit iure mollitia fugit nemo eaque molestiae deserunt
    assumenda suscipit nostrum tempora sed? Error, praesentium dolore?
    Laboriosam voluptates nostrum nesciunt, explicabo in quisquam.
  </p>
  <p class="text-white">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque perspiciatis
    enim repellendus incidunt adipisci quam impedit accusantium, tempore eos
    voluptatibus velit iure mollitia fugit nemo eaque molestiae deserunt
    assumenda suscipit nostrum tempora sed? Error, praesentium dolore?
    Laboriosam voluptates nostrum nesciunt, explicabo in quisquam.
  </p>
  <p class="text-white">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque perspiciatis
    enim repellendus incidunt adipisci quam impedit accusantium, tempore eos
    voluptatibus velit iure mollitia fugit nemo eaque molestiae deserunt
    assumenda suscipit nostrum tempora sed? Error, praesentium dolore?
    Laboriosam voluptates nostrum nesciunt, explicabo in quisquam.
  </p>
  <p class="text-white">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque perspiciatis
    enim repellendus incidunt adipisci quam impedit accusantium, tempore eos
    voluptatibus velit iure mollitia fugit nemo eaque molestiae deserunt
    assumenda suscipit nostrum tempora sed? Error, praesentium dolore?
    Laboriosam voluptates nostrum nesciunt, explicabo in quisquam.
  </p>
</div>
