<div class="flex items-center justify-center">
  <div class="flex flex-col gap-10">
    <div class="grid md:grid-cols-2 gap-20 py-5 px-5">
      <div class="">
        <iframe
          class="rounded-xl w-full h-[300px]"
          src="https://www.youtube.com/embed/tgbNymZ7vqY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <div
        class="flex flex-col gap-10 items-center justify-center text-center md:text-left"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam
          veritatis consectetur, in libero beatae porro!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam
          veritatis consectetur, in libero beatae porro!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam
          veritatis consectetur, in libero beatae porro!
        </p>
      </div>
    </div>
  </div>
</div>
