<div class="w-full py-4">
  <p>Content</p>
</div>
<div class="flex items-center justify-center">
  <div class="flex flex-col gap-10">
    <div class="grid grid-cols-2 gap-5 py-5 px-5">
      <div class="flex flex-col gap-10 items-center justify-center">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam
          veritatis consectetur, in libero beatae porro!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam
          veritatis consectetur, in libero beatae porro!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam
          veritatis consectetur, in libero beatae porro!
        </p>
      </div>
      <div class="flex justify-end">
        <img class="rounded-lg" src="https://placehold.co/600x400" alt="" />
      </div>
    </div>
    <div class="grid grid-cols-2 gap-5 py-5 px-5">
      <div class="">
        <img class="rounded-lg" src="https://placehold.co/600x400" alt="" />
      </div>
      <div class="flex flex-col gap-10 items-center justify-center">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam
          veritatis consectetur, in libero beatae porro!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam
          veritatis consectetur, in libero beatae porro!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam
          veritatis consectetur, in libero beatae porro!
        </p>
      </div>
    </div>
  </div>
</div>
<!-- TODO: Implement beautiful devider -->

<app-divider></app-divider>

<!-- TODO:  -->
<div class="flex flex-col gap-20">
  <div class="grid grid-cols-2 gap-10 w-full">
    <div class="flex justify-between gap-5">
      <div class="flex flex-col justify-center items-center gap-5">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
      </div>
      <div
        class="w-28 h-28 bg-blue-400 dark:bg-rose-500 rounded-full flex justify-center items-center text-white"
      >
        <span>IMG</span>
      </div>
    </div>
    <div class="flex justify-between gap-5">
      <div class="flex flex-col justify-center items-center gap-5">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
      </div>
      <div
        class="w-28 h-28 bg-blue-400 dark:bg-rose-500 rounded-full flex justify-center items-center text-white"
      >
        <span>IMG</span>
      </div>
    </div>
    <div class="flex justify-between gap-5">
      <div class="flex flex-col justify-center items-center gap-5">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
      </div>
      <div
        class="w-28 h-28 bg-blue-400 dark:bg-rose-500 rounded-full flex justify-center items-center text-white"
      >
        <span>IMG</span>
      </div>
    </div>
    <div class="flex justify-between gap-5">
      <div class="flex flex-col justify-center items-center gap-5">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
      </div>
      <div
        class="w-28 h-28 bg-blue-400 dark:bg-rose-500 rounded-full flex justify-center items-center text-white"
      >
        <span>IMG</span>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <button
      class="py-4 px-11 flex justify-center items-center uppercase text-white shadow rounded transition ease-in-out delay-150 bg-gradient-to-r hover:bg-gradient-to-l from-blue-400 to-blue-700 dark:from-rose-400 dark:to-rose-700"
    >
      Course
    </button>
  </div>
</div>

<app-divider></app-divider>
<!-- TODO: Made timeline  -->
<div class="flex justify-center">
  <div class="w-[85%] lg:w-[70%] h-[auto] relative">
    <ul
      class="after:absolute after:contents-[' '] after:w-[2px] after:h-[100%] after:bg-gradient-to-b after:from-blue-400 after:to-blue-700 dark:after:from-rose-400 dark:after:to-rose-700 after:left-[-29px] lg:after:left-[50%] after:top-[0] after:-translate-x-1/2 z-0"
    >
      <li
        class="mt-20 lg:mt-0 relative z-[99] w-full lg:w-[50%] h-[auto] py-4 px-5 bg-white dark:bg-gray-800 shadow rounded-lg mb-7 float-none clear-none lg:float-left lg:clear-right lg:-translate-x-7 lg:text-right"
      >
        <p class="text-blue-500">Some title</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minus.
          Ducimus natus, corrupti rem ex hic est recusandae autem sunt,
          repudiandae ipsum tempore. Asperiores, repellat error! Aut corrupti
          cupiditate eaque.
        </p>
        <span
          class="w-8 h-8 bg-blue-500/[.4] dark:bg-rose-500/[.4] rounded-full -translate-x-1/2 lg:translate-x-1/2 -translate-y-1/2 absolute top-[0] left-[-29px] lg:left-[auto] lg:right-[-29px] after:contents-[' '] after:w-[15px] after:h-[15px] after:bg-blue-500 dark:after:bg-rose-500 after:rounded-full after:absolute after:top-[50%] after:left-[50%] after:-translate-x-1/2 after:-translate-y-1/2 after:right-[0]"
        ></span>
      </li>
      <li
        class="mt-20 lg:mt-0 relative z-[99] w-full lg:w-[50%] h-[auto] py-4 px-5 bg-white dark:bg-gray-800 shadow rounded-lg mb-7 float-none clear-none lg:float-right lg:clear-left lg:translate-x-7"
      >
        <p class="title">Some title</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minus.
          Ducimus natus, corrupti rem ex hic est recusandae autem sunt,
          repudiandae ipsum tempore. Asperiores, repellat error! Aut corrupti
          cupiditate eaque.
        </p>
        <span
          class="w-8 h-8 bg-blue-500/[.4] dark:bg-rose-500/[.4] rounded-full -translate-x-1/2 -translate-y-1/2 absolute top-[0] left-[-29px] after:contents-[' '] after:w-[15px] after:h-[15px] after:bg-blue-500 dark:after:bg-rose-500 after:rounded-full after:absolute after:top-[50%] after:left-[50%] after:-translate-x-1/2 after:-translate-y-1/2 after:right-[0]"
        ></span>
      </li>
      <li
        class="mt-20 lg:mt-0 relative z-[99] w-full lg:w-[50%] h-[auto] py-4 px-5 bg-white dark:bg-gray-800 shadow rounded-lg mb-7 float-none clear-none lg:float-left lg:clear-right lg:-translate-x-7 lg:text-right"
      >
        <p class="title">Some title</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minus.
          Ducimus natus, corrupti rem ex hic est recusandae autem sunt,
          repudiandae ipsum tempore. Asperiores, repellat error! Aut corrupti
          cupiditate eaque.
        </p>
        <span
          class="w-8 h-8 bg-blue-500/[.4] dark:bg-rose-500/[.4] rounded-full -translate-x-1/2 lg:translate-x-1/2 -translate-y-1/2 absolute top-[0] left-[-29px] lg:left-[auto] lg:right-[-29px] after:contents-[' '] after:w-[15px] after:h-[15px] after:bg-blue-500 dark:after:bg-rose-500 after:rounded-full after:absolute after:top-[50%] after:left-[50%] after:-translate-x-1/2 after:-translate-y-1/2 after:right-[0]"
        ></span>
      </li>
      <li
        class="mt-20 lg:mt-0 relative z-[99] w-full lg:w-[50%] h-[auto] py-4 px-5 bg-white dark:bg-gray-800 shadow rounded-lg float-none clear-none lg:float-right lg:clear-left lg:translate-x-7"
      >
        <p class="title">Some title</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minus.
          Ducimus natus, corrupti rem ex hic est recusandae autem sunt,
          repudiandae ipsum tempore. Asperiores, repellat error! Aut corrupti
          cupiditate eaque.
        </p>
        <span
          class="w-8 h-8 bg-blue-500/[.4] dark:bg-rose-500/[.4] rounded-full -translate-x-1/2 -translate-y-1/2 absolute top-[0] left-[-29px] after:contents-[' '] after:w-[15px] after:h-[15px] after:bg-blue-500 dark:after:bg-rose-500 after:rounded-full after:absolute after:top-[50%] after:left-[50%] after:-translate-x-1/2 after:-translate-y-1/2 after:right-[0]"
        ></span>
      </li>
    </ul>
  </div>
</div>
