<div id="info" class="flex flex-col gap-20 px-5">
  <div class="grid md:grid-cols-2 gap-10 w-full">
    <div class="info-card">
      <div class="info-card__text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
      </div>

      <div class="info-card__icon">
        <span>IMG</span>
      </div>
    </div>

    <div class="info-card">
      <div class="info-card__text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
      </div>
      <div class="info-card__icon">
        <span>IMG</span>
      </div>
    </div>

    <div class="info-card">
      <div class="info-card__text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
      </div>
      <div class="info-card__icon">
        <span>IMG</span>
      </div>
    </div>

    <div class="info-card">
      <div class="info-card__text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis!
        </p>
      </div>
      <div class="info-card__icon">
        <span>IMG</span>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <button
      class="py-4 px-11 flex justify-center items-center uppercase text-white shadow rounded transition ease-in-out delay-150 bg-gradient-to-r hover:bg-gradient-to-l from-blue-400 to-blue-700 dark:from-rose-400 dark:to-rose-700"
    >
      Course
    </button>
  </div>
</div>
